<template>
    <div>
        <el-button type="primary" @click="archiveDialog = true">News Archives</el-button>
        <el-button type="primary" @click="dialogVisible = true">Add News</el-button>


        <el-dialog
            title="Archived News"
            :visible.sync="archiveDialog"
            width="30%"
            :before-close="handleClose">
            <div>
                <el-table
                    height="500"
                    :data="allArchives"
                    style="width: 100%">
                    <el-table-column
                        prop="title"
                        label="Title">
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        label="Operations"
                        width="120">
                        <template slot-scope="scope">
                            <el-button @click="handleRestore(scope.row)" type="primary" size="small">Restore</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-dialog>


        <el-dialog
        title="Add News"
        :visible.sync="dialogVisible"
        width="50%"
        :before-close="handleClose">
        <div>
            <el-form label-position="top" :rules="rules" ref="formNews" label-width="100px" :model="formData">
                <el-row :gutter="20">
                    <el-col :span="16">
                        <el-form-item label="News Name" prop="news_title">
                            <el-input v-model="formData.news_title"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Upload News image" prop="image">
                            <input type="file" class="form-control-file" v-on:change="processFile($event)" accept='image/*'></input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="News description" prop="editorData">
                            <ckeditor :editor="editor" v-model="formData.editorData" :config="editorConfig" style="height: 300px"></ckeditor>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="resetForm('formNews')">Cancel</el-button>
            <el-button type="primary" @click="submitNews('formNews')">Confirm</el-button>
        </span>
        </el-dialog>
    </div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import { mapGetters, mapActions, mapMutations } from 'vuex';
import rules from './formRules.json'
export default {
    props: ['userAuth'],
    data() {
        return {
            config: {
                headers: {
                    contentType: "application/json",
                    'Authorization': 'Bearer ' + this.userAuth.api_token
                }
            },
            editor: ClassicEditor,
            editorConfig: {
                // The configuration of the rich-text editor.
            },
            archiveDialog: false,
            dialogVisible: false,
            rules: rules,
            formData: {
                news_title: '',
                image: null,
                editorData: '',
            }
        };
    },
    computed: mapGetters(["allNews", "allArchives"]),
    created() {
        this.newsArchives(this.config);
    },
    methods: {
        ...mapActions(['addNews', 'newsArchives', 'restoreNews']),
        processFile(news) {
            console.log(news)
            this.formData.image = news.target.files[0]
        },
        handleRestore(row){            
            this.$confirm('Are you sure you want to restore?')
            .then(_ => {
                this.restoreNews({id: row.id, config: this.config})
                .then(res => {
                    console.log(res)
                    this.archiveDialog = false
                    this.$notify.success({
                        title: 'Success',
                        message: res.message,
                        offset: 100
                    })
                })
                .catch(err => {
                    console.log(err)
                })
                done();
            })
            .catch(_ => {});
        },
        submitNews(formName){
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    const form = new FormData();
                    form.append('_token', $('input[name=_token]' ).val());
                    form.append('news_title', this.formData.news_title);
                    form.append('image', this.formData.image, this.formData.image.name);
                    form.append('body', this.formData.editorData);
                    this.addNews({values: form, config: this.config})
                    .then(res=>{
                        this.resetForm(formName)
                        this.$notify.success({
                            title: 'Success',
                            message: res.data.message,
                            offset: 100
                        })
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },        
        resetForm(formName) {
            this.$refs[formName].resetFields();
            this.dialogVisible = false
        },
        handleClose(done) {
            this.$confirm('Are you sure to close this dialog?')
            .then(_ => {
                done();
            })
            .catch(_ => {});
        }
    }
}
</script>

<style lang="scss" scoped>

</style>