<template>
    <div>
        <el-table
            :data="allNews"
            border
            height="500"
            style="width: 100%">
            <el-table-column
            prop="title"
            label="Title">
            </el-table-column>
            <el-table-column
                fixed="right"
                label="Operations"
                width="250">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" @click="showNews(scope.row)">Show News</el-button>
                    <el-button size="mini" type="danger" @click="HandleRemove(scope.row)">Remove</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog
            :title="news.title"
            :visible.sync="editDialog"
            width="50%"
            :before-close="handleClose">
            <div>
                <el-card :body-style="{ padding: '0px' }">
                    <img :src="'/img/news/'+news.image" class="image" style="height: 25rem">
                    <div style="padding: 14px;">
                        <div v-html="this.news.body">{{this.news.body}}</div>
                    </div>
                </el-card>
            </div>
            <span slot="footer" class="dialog-footer">
                <!-- <el-button @click="dialogVisible = false">Cancel</el-button> -->
                <el-button type="primary" @click="dialogVisible = false">Ok</el-button>
            </span>
        </el-dialog>

        <el-dialog
            :title="news.title"
            :visible.sync="dialogVisible"
            width="50%"
            :before-close="handleClose">
            <div>
                <el-card :body-style="{ padding: '0px' }">
                    <img :src="'/img/news/'+news.image" class="image" style="height: 25rem">
                    <div style="padding: 14px;">
                        <div v-html="this.news.body">{{this.news.body}}</div>
                    </div>
                </el-card>
            </div>
            <span slot="footer" class="dialog-footer">
                <!-- <el-button @click="dialogVisible = false">Cancel</el-button> -->
                <el-button type="primary" @click="dialogVisible = false">Ok</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
export default {
    props: ['userAuth'],
    data() {
    return {
            config: {
                headers: {
                    contentType: "application/json",
                    'Authorization': 'Bearer ' + this.userAuth.api_token
                }
            },
            editDialog: false,
            dialogVisible: false,
            news: [],
        }
    },        
    computed: mapGetters(["allNews"]),
    created() {
        this.fetchNews(this.config);
    },
    methods: {
        ...mapActions(['fetchNews', 'removeNews']),
        HandleRemove(row, done){
            this.$confirm('Would you like to set this news to archive?')
            .then(_ => {
                this.removeNews({id: row.id, config: this.config})
                .then(res => {
                    console.log(res)
                    this.$notify.success({
                        title: 'Success',
                        message: 'News has been set to archive.',
                        offset: 100
                    })
                })
                .catch(err => {
                    console.log(err)
                })
                done();
            })
            .catch(_ => {});
        },
        handleClose(done) {
            this.$confirm('Are you sure to close this dialog?')
            .then(_ => {
                done();
            })
            .catch(_ => {});
        },
        showNews(row){
            this.news = row
            this.dialogVisible = true
        }
    }
}
</script>

<style lang="scss" scoped>

</style>