<template>
    <div>
        <el-table
            :data="allEvents.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
            height="500"
            style="width: 100%">
            <el-table-column
            label="title"
            prop="title">
            </el-table-column>
            <el-table-column
            label="venue"
            prop="venue">
            </el-table-column>
            <el-table-column
            align="right">
            <template slot="header" slot-scope="scope">
                <el-input
                v-model="search"
                size="mini"
                placeholder="Type to search"/>
            </template>
            <template slot-scope="scope">
                <div v-if="scope.row.created_by == userAuth.id || scope.row.registration_to < today">
                    <el-button type="primary" size="mini" @click="event = scope.row" data-toggle="modal" data-target="#showEvent">Show Event</el-button>
                </div>
                <div v-else>
                    <el-button
                        type="success"
                        data-backdrop="static"
                        data-keyboard="false"
                        size="mini"
                        data-toggle="modal"
                        data-target="#joinEvent"
                        @click="event = scope.row">Join Event</el-button>
                    
                    <div class="modal fade" id="joinEvent" tabindex="-1" role="dialog" aria-labelledby="joinEventLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="joinEventLabel">Join Event Form</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                <el-table
                                height="500"
                                :data="event.questionaire"
                                style="width: 100%">
                                    <el-table-column
                                        width="50"
                                        label="ID">
                                        <template slot-scope="scope">
                                            {{scope.$index + 1}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        prop="question"
                                        label="Questions">
                                    </el-table-column>
                                    <el-table-column
                                        label="Answers">
                                        <template slot-scope="scope">
                                            <el-input v-model="answers[scope.$index]"></el-input>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="clearAnswer()" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="getAnswers()" :disabled="disable">Save changes</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <el-button type="primary" size="mini" @click="event = scope.row" data-toggle="modal" data-target="#showEvent">Show Event</el-button>
                </div>
            </template>
            </el-table-column>
        </el-table>

        <div class="modal fade" id="showEvent" tabindex="-1" role="dialog" aria-labelledby="showEventTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <view-event :event-info="event"></view-event>
            </div>
        </div>
    </div>
</template>

<script>
import viewEvent from './ViewEventComponent.vue'
import { mapGetters, mapActions, mapMutations } from 'vuex';
    export default {
        props: ['userAuth'],
        components: {
            'view-event': viewEvent
        },
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                search: '',
                answers: [],
                final: [],
                event: [],
                disable: false,
                today: null
            }
        },
        computed: mapGetters(["allEvents", "allParticipatedEvents"]),
        created() {
            this.fetchEvents(this.config);
            this.getEventsParticipated(this.config);
            this.getToday()
        },
        mounted(){
            // this.listen()
        },
        methods: {
            ...mapMutations(['updEvent']),
            ...mapActions(['fetchEvents', 'getEventsParticipated']),
            // listen(){
            //     Echo.channel('update-event')
            //         .listen('UpdateEventsEvent', e => {
            //             this.fetchPendingEvents(this.config);
            //             this.updEvent(e.data);
            //             this.$notify.success({
            //                 title: 'Success',
            //                 message: e.message,
            //                 offset: 100
            //             })
            //         });
            // },
            getToday(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = mm + '/' + dd + '/' + yyyy;
                this.today = today
                console.log(today)
            },
            clearAnswer(){
                this.answers = []
                this.disable = false
                $('#joinEvent').modal('hide')
            },
            checkAnswer(){
                var ans = this.answers
                this.event.questionaire.forEach(function(value, key) {
                    if(ans[key] == ''){
                        alert('empty')
                    }
                });
            },
            getAnswers(){
                this.disable = true
                // return false;
                var data = []
                var ans = this.answers
                this.event.questionaire.forEach(function(value, key) {
                    data.push({question_id: value.id, answer: ans[key]})
                });
                axios.post('/api/questions/'+this.event.id, data, this.config)
                .then(res=>{
                    if(res.data.status == 201){
                        this.clearAnswer()
                        this.$notify.success({
                            title: 'Success',
                            message: res.data.message,
                            offset: 100
                        });
                    }else{
                        this.clearAnswer()
                        this.$notify.error({
                            title: 'Success',
                            message: res.data.message,
                            offset: 100
                        });
                    }
                })
                .catch(err=>{
                    console.log(err)
                })
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            }
        },
    }
</script>

<style lang="scss">
</style>