<template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Request Event Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <el-form label-position="top" :rules="rules" ref="formEvent" label-width="100px" :model="formEvent">
                <el-row :gutter="20">
                    <el-col :span="24">
                        <el-form-item label="Event Name" prop="event_name">
                            <el-input v-model="formEvent.event_name"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="15">
                        <el-form-item label="Event Venue" prop="venue">
                            <el-input v-model="formEvent.venue"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="9">
                        <el-form-item label="Event Date" prop="eventdate">
                            <el-date-picker
                            v-model="formEvent.eventdate"
                            type="date"
                            value-format="MM/dd/yyyy"
                            format="MM/dd/yyyy"
                            :picker-options="datePickOptions"
                            placeholder="Set Event Date" style="width: 100%;">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-form-item label="Max Participants" prop="participants">
                            <el-input type="number" v-model="formEvent.participants"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="Registration Dates" prop="registration">
                            <el-date-picker
                            v-model="formEvent.registration"
                            type="daterange"
                            :picker-options="rangePickOptions"
                            value-format="MM/dd/yyyy"
                            format="MM/dd/yyyy"
                            range-separator="-"
                            start-placeholder="Start date"
                            end-placeholder="End date" style="width: 100%;">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Upload Event image" prop="image">
                            <input type="file" class="form-control-file" v-on:change="processFile($event)" accept='image/*'></input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Event description" prop="editorData">
                            <ckeditor :editor="editor" v-model="formEvent.editorData" :config="editorConfig" style="height: 300px"></ckeditor>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24" class="py-4">
                        <el-form-item label="Questions" prop="questions">
                            <el-table
                                :data="formEvent.questions"
                                style="width: 100%">
                                <el-table-column
                                    label="#">
                                    <template slot-scope="scope">
                                        {{scope.$index + 1}}
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    label="Questions">
                                    <template slot-scope="scope">
                                        <el-input type="text" v-model="scope.row.question"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    align="right"
                                    label="Operations">
                                    <template slot="header" slot-scope="scope">
                                        <el-button type="primary" size="mini" @click="addQuestions" class="float-right">Add Question</el-button>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-button type="danger" @click="removeQuestion(scope.$index, formEvent.questions)"><i class="el-icon-close"></i></el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetForm('formEvent')">Close</button>
            <button type="button" class="btn btn-primary"  @click="submitEvent('formEvent')">Save changes</button>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import rules from './formRules.json'
    export default {
        props: ['userAuth'],
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                datePickOptions: {
                    disabledDate (date) {
                        var dt = new Date();
                        // dt.setMonth( dt.getMonth() + 3 );
                        return date < dt
                    }
                },
                rangePickOptions: {
                    disabledDate (date) {
                        var dt = new Date();
                        // dt.setMonth( dt.getMonth() + 2 );
                        return date < dt
                    }
                },
                editor: ClassicEditor,
                editorConfig: {
                    // The configuration of the rich-text editor.
                },
                rules: rules,
                drawer: false,
                formEvent: {
                    event_name: '',
                    venue: '',
                    eventdate: '',
                    registration: [],
                    participants: '',
                    image: null,
                    editorData: '',
                    questions: []
                }
            }
        },
        mounted(){
            // this.date3months()
            // this.date2months()
        },
        methods: {
            date3months(){
                var dt = new Date();
                dt.setMonth( dt.getMonth() + 3 );
                dt.setDate(dt.getDate() + 1)
                this.formEvent.eventdate = dt
            },
            date2months(){
                var dt = new Date();
                dt.setMonth( dt.getMonth() + 2 );
                dt.setDate(dt.getDate() + 1)
                this.formEvent.registration = [dt,dt]
            },
            processFile(event) {
                console.log(event)
                this.formEvent.image = event.target.files[0]
            },
            addQuestions(){
                this.formEvent.questions.push( { question: '' } )
            },
            removeQuestion(index, rows){
                rows.splice(index, 1);
            },
            submitEvent(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        const result = this.checkQuestions()
                        if(result){
                            this.$notify.warning({
                                title: 'Warning',
                                message: 'Please input question',
                                offset: 100
                            });
                        }else{
                            const form = new FormData();
                            form.append('_token', $('input[name=_token]' ).val());
                            form.append('eventname', this.formEvent.event_name);
                            form.append('eventlocation', this.formEvent.venue);
                            form.append('eventdate', this.formEvent.eventdate);
                            form.append('eventmax', this.formEvent.participants);
                            form.append('registrationdate', this.formEvent.registration);
                            form.append('eventimage', this.formEvent.image, this.formEvent.image.name);
                            form.append('description', this.formEvent.editorData);
                            form.append('questionaire', JSON.stringify(this.formEvent.questions));
                            axios.post('/api/events/request', form, this.config)
                            .then(res=>{
                                if(res.data.status == 200){
                                    this.resetForm(formName)
                                    $('#exampleModal').modal('hide')
                                    this.$notify.success({
                                        title: 'Success',
                                        message: res.data.message,
                                        offset: 100
                                    })
                                }else{                                
                                    this.$notify.error({
                                        title: 'Success',
                                        message: res.data.message,
                                        offset: 100
                                    })
                                }
                            })
                            .catch(err=>{
                                console.log(err)
                            })
                        }
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                // console.log(this.formEvent)
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            checkQuestions(){
                _.forEach(this.formEvent.questions, function(value, key) {
                    if(value.question == ''){
                        return true
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>