<template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="showEventTitle">{{this.eventInfo.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <el-card :body-style="{ padding: '0px' }">
                <div v-if="this.eventInfo.image">
                <img :src="'../../img/events/'+this.eventInfo.image" class="image" style="height: 25rem">
                </div>
                <div style="padding: 14px;">
                    <div>
                        <h3 class="my-3">Event Date: {{this.eventInfo.date}}</h3>
                        <h3 class="my-3">Event Venue: {{this.eventInfo.venue}}</h3>
                        <span class="h4">Event Description: </span>
                        <div v-html="this.eventInfo.description">{{this.eventInfo.description}}</div>
                    </div>
                    <div class="bottom clearfix">
                    <time class="time">Submitted At: {{this.eventInfo.created_at}}</time>
                    </div>
                </div>
            </el-card>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['eventInfo']
    }
</script>

<style lang="scss" scoped>

</style>