<template>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td scope="row" style="width: 40%;">Name</td>
                    <td>{{userAuth.firstname}}, {{userAuth.lastname}}</td>
                </tr>
                <tr>
                    <td scope="row" style="width: 40%;">Email</td>
                    <td>{{userAuth.email}}</td>
                </tr>
                <tr>
                    <td scope="row" style="width: 40%;"></td>
                    <td>
                        <el-button type="primary" @click="dialogVisible = true">Change Password</el-button>

                        <el-dialog
                        title="Chane Password"
                        :visible.sync="dialogVisible"
                        width="30%"
                        :before-close="handleClose">
                        <div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width: 40%;">Current Password</td>
                                        <td>
                                            <el-input placeholder="Please input password" v-model="formData.current_password" show-password></el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;">New Password</td>
                                        <td>
                                            <el-input placeholder="Please input password" v-model="formData.new_password" show-password></el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;">Confirm Password</td>
                                        <td>
                                            <el-input placeholder="Please input password" v-model="formData.confirm_password" show-password></el-input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="dialogVisible = false">Cancel</el-button>
                            <el-button type="primary" @click="submitPassword()">Confirm</el-button>
                        </span>
                        </el-dialog>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3 class="my-5">Activities</h3>
        <div class="overflow-auto block" style="height: 25rem">
            <el-timeline>
                <el-timeline-item :timestamp="activity.created_at" placement="top" v-for="(activity, i) in userActivities" :key="i">
                    <el-card>
                        <h4>{{activity.activities}}</h4>
                    </el-card>
                </el-timeline-item>
            </el-timeline>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['userAuth', 'userActivities'],
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                 activities: [{
                content: 'Custom icon',
                timestamp: '2018-04-12 20:46',
                size: 'large',
                type: 'primary',
                icon: 'el-icon-more'
                }, {
                content: 'Custom color',
                timestamp: '2018-04-03 20:46',
                color: '#0bbd87'
                }, {
                content: 'Custom size',
                timestamp: '2018-04-03 20:46',
                size: 'large'
                }, {
                content: 'Default node',
                timestamp: '2018-04-03 20:46'
                }],
                dialogVisible: false,
                formData: {
                    current_password: '',
                    new_password: '',
                    confirm_password: '',
                }
            }
        },
        methods: {
            submitPassword(){
                axios.post('/profile', this.formData)
                .then(res => {
                    this.dialogVisible = false
                    this.formData.current_password = ''
                    this.formData.new_password = ''
                    this.formData.confirm_password = ''
                    this.$notify.success({
                        title: 'Success',
                        message: res.data,
                        offset: 100
                    })
                })
                .catch(err => {
                    this.$notify.error({
                        title: 'Error',
                        message: err.response.data.message,
                        offset: 100
                    })
                })
            },
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>