<template>
    <div>
        <el-button
        size="mini"
        @click="dialogVisible = true">Edit</el-button>

        <el-dialog
            title="Tips"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
            <span>{{userData}}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        props: ['userData'],
        data(){
            return {
                dialogVisible: false
            }
        },
        methods: {
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss">

</style>