<template>
    <div class="float-right">
        <el-button type="primary" @click="archiveDialog = true">Users Archives</el-button>
        <el-badge :value="allRequests.length" class="item">
            <el-button @click="drawer = true" type="primary">Sponsor Request</el-button>
        </el-badge>

        <el-dialog
            title="Archived Users"
            :visible.sync="archiveDialog"
            width="30%"
            :before-close="handleClose">
            <div>
                <el-table
                    height="500"
                    :data="allArchivedUsers"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="User ID">
                    </el-table-column>
                    <el-table-column
                        label="Name">
                        <template slot-scope="props">
                            <div>{{props.row.lastname}}, {{props.row.firstname}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="email"
                        label="Email">
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        label="Operations"
                        width="120">
                        <template slot-scope="scope">
                            <el-button @click="handleRestore(scope.row)" type="primary" size="small">Restore</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-dialog>

        <el-drawer
            title="List of Sponsor Request"
            :visible.sync="drawer"
            direction="rtl"
            size="50%"
            :before-close="handleClose">
                <el-table
                    :data="allRequests"                    
                    height="500"
                    border
                    style="width: 100%">
                    <el-table-column
                        label="Name">
                        <template slot-scope="props">
                            <div>{{props.row.user.lastname}}, {{props.row.user.firstname}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Email">
                        <template slot-scope="props">
                            <div>{{props.row.user.email}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Company">
                        <template slot-scope="props">
                            <div v-if="props.row.user.company_name">{{props.row.user.company_name}}</div>
                            <div v-else>Not Available</div>
                        </template>
                    </el-table-column>
                    <el-table-column
                        label="Job Title">
                        <template slot-scope="props">
                            <div>{{props.row.user.job_title}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        label="Operations"
                        >
                        <template slot-scope="scope">
                            <el-button size="small" @click="showApplication(scope.row)"><i class="el-icon-s-check"></i></el-button>
                            <el-button type="success" size="small" @click="handleApproval(scope.row, 1)"><i class="el-icon-check"></i></el-button>
                            <el-button type="danger" size="small" @click="handleApproval(scope.row, 0)"><i class="el-icon-close"></i></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog
                    title="Valid ID"
                    :append-to-body="true"
                    :before-close="handleClose"
                    :visible.sync="innerDrawer">
                    <div>
                         <el-card :body-style="{ padding: '0px' }">
                            <img :src="'../../img/valid_id/'+user.user_id+'/'+user.image" class="image">
                            <div style="padding: 14px;">
                                <span>Appointment Date: {{user.appointment}}</span>
                            </div>
                        </el-card>
                    </div>
                </el-dialog>
        </el-drawer>
    </div>
</template>

<script>
    import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                archiveDialog: false,
                drawer: false,
                innerDrawer: false,
                user: []
            }
        },
        computed: mapGetters(['allRequests', 'allArchivedUsers']),
        created() {
            this.fetchSponsorRequest(this.config);
            this.fetchArchivedUser(this.config);
        },
        methods: {
            ...mapActions(['fetchSponsorRequest', 'updateUser', 'fetchArchivedUser', 'restoreUser']),
            handleApproval(row, status){
                this.updateUser({id: row.user_id, values: {'action': status}, config: this.config})
                .then(res => {
                    console.log(res);
                    this.drawer = false
                    this.$notify.success({
                        title: 'Success',
                        message: res.message,
                        offset: 100
                    })
                    // console.log(res)
                })
                .catch(err => {
                    console.log(err)
                })
            },
            handleRestore(row){
                this.$confirm('Are you sure you want to restore?')
                .then(_ => {
                    this.restoreUser({id: row.id, config: this.config})
                    .then(res => {
                        console.log(res)
                        this.archiveDialog = false
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        })
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            showApplication(row){
                this.user = row
                this.innerDrawer = true
            },
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss">
.el-drawer__header{
    font-size: 30px
}

.image {
width: 100%;
display: block;
}
</style>