<template>
    <div>
        <el-table
        :data="allUsers.filter(data => !search || data.lastname.toLowerCase().includes(search.toLowerCase()))"        
        height="500"
        style="width: 100%">
            <el-table-column
                label="Name">
                <template slot-scope="props">
                    <div>{{props.row.lastname}}, {{props.row.firstname}}</div>
                </template>
            </el-table-column>
            <el-table-column
                prop="email"
                label="Email">
            </el-table-column>
            <el-table-column
                prop="company_name"
                label="Company">
                <template slot-scope="props">
                    <div v-if="props.row.company_name">{{props.row.company_name}}</div>
                    <div v-else>Not Available</div>
                </template>
            </el-table-column>
            <el-table-column
                prop="job_title"
                label="Job Title">
            </el-table-column>
            <el-table-column
                prop="permission"
                label="User Type">
                <template slot-scope="props">
                    <div v-if="props.row.permission == 1">
                        <el-tag
                        type="success"
                        disable-transitions>Sponsor</el-tag>
                    </div>
                    <div v-else>
                        <el-tag
                        type="primary"
                        disable-transitions>User</el-tag>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                label="Status">
                <template slot-scope="props">
                    <div v-if="props.row.email_verified_at != null">
                        <el-tag
                        type="success"
                        disable-transitions>Verified</el-tag>
                    </div>
                    <div v-else>
                        <el-tag
                        type="primary"
                        disable-transitions>Not verified</el-tag>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
            width="180"
            fixed="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"/>
                </template>
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleEdit(scope.row)">Edit</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleRemove(scope.row)">Remove</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog
            title="Change User Type"
            :visible.sync="dialogVisible"
            width="20%"
            :before-close="handleClose">
            <div class="text-center">
                <el-radio-group v-model="userType" @change="checkType()">
                    <el-radio :label="1">Sponsor</el-radio>
                    <el-radio :label="0">User</el-radio>
                </el-radio-group>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" :disabled="disable" @click="submitType()">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import editUser from './EditUserComponent.vue';
    export default {
        props: ['userAuth'],
        components: {
            'edit-user': editUser
        },
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                search: '',
                dialogVisible: false,
                userData: null,
                userType: 0,
                disable: true
            }
        },
        computed: mapGetters(["allUsers"]),
        created() {
            this.fetchUsers(this.config);
        },
        mounted(){
            this.listen()
        },
        methods: {
            ...mapMutations(['updUser']),
            ...mapActions(['fetchUsers', 'fetchSponsorRequest', 'updateType', 'removeUser']),
            listen(){                    
                Echo.channel('update-user')
                    .listen('UpdateUserEvent', e => {
                        this.fetchSponsorRequest(this.config);
                        this.updUser(e.data);
                        this.$notify.success({
                            title: 'Success',
                            message: e.message,
                            offset: 100
                        })
                    });
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            handleRemove(row, done){
                this.$confirm('Are you sure you want to remove this user?')
                .then(_ => {
                    this.removeUser({id: row.id, config:this.config})
                    .then(res => {
                        console.log(res)
                        this.$notify.success({
                            title: 'Success',
                            message: 'User has been temporarily removed.',
                            offset: 100
                        })
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
                // console.log(row)
            },
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            },
            submitType(done){
                this.$confirm('Are you sure to change this user type?')
                .then(_ => {
                    this.updateType({id: this.userData.id, values: {'userType': this.userType}, config: this.config})
                    .then(res => {
                        this.dialogVisible = false
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        })
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            checkType(){
                if(this.userType == this.userData.permission ){
                    this.disable = true
                }else{
                    this.disable = false
                }
            },
            handleEdit(row) {
                this.disable = true
                this.userData = row
                this.dialogVisible = true
                if(this.userData.permission != 1){
                    this.userType = 0
                }else{
                    this.userType = 1
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>