<template>
    <div>
        <el-table        
            height="500"
            :data="allEvents.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
            style="width: 100%">
            <el-table-column
            label="Event Name"
            prop="title">
            </el-table-column>
            <el-table-column
            label="Venue"
            prop="venue">
            </el-table-column>
            <el-table-column
            label="Event Date"
            prop="date">
            </el-table-column>
            <el-table-column
            :cell-style="{padding: '10px', height: '20px'}"
            align="center">
            <template slot="header" slot-scope="scope">
                <el-input
                v-model="search"
                size="mini"
                placeholder="Type to search"/>
            </template>
            <template slot-scope="scope">
                <el-button
                    size="mini"
                    @click="showEvent(scope.row)">Show Event</el-button>
                <el-badge :value="checkParticipants(scope.row.participants)" class="item">
                    <el-button
                    size="mini"
                    @click="handleRequest(scope.row)">Join Requests</el-button>
                </el-badge>
            </template>
            </el-table-column>
        </el-table>

        <el-drawer
            size="50%"
            :title="event.title"
            :visible.sync="joinDrawer"
            direction="rtl"
            :before-close="handleClose">
            <div v-if="participants">
                <el-table
                
                height="500"
                :data="participants.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                style="width: 100%">
                <el-table-column
                    label="Participant">
                    <template slot-scope="scope">
                        {{scope.row.user.lastname}}, {{scope.row.user.firstname}}
                    </template>
                </el-table-column>
                <el-table-column
                 label="Job title">
                    <template slot-scope="scope">
                        {{scope.row.user.job_title}}
                    </template>
                </el-table-column>
                <el-table-column
                align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"/>
                </template>
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleAnswers(scope.row)">Show Answers</el-button>

                    <el-drawer
                        title="Answers"
                        :append-to-body="true"
                        :before-close="handleClose"
                        :visible.sync="innerDrawer">
                        <div>
                            <el-table
                                :data="event.questionaire"
                                border
                                style="width: 100%">
                                <el-table-column
                                    prop="question"
                                    label="Question">
                                </el-table-column>
                                <el-table-column
                                    label="Answer">
                                    <template slot-scope="scope">
                                        <div v-for="answer in scope.row.answer">
                                            <div v-if="answer.user_id == selectUser">                                                
                                            {{answer.answers}}
                                            </div>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-drawer>

                    <el-button
                    size="mini"
                    @click="handleApproval(scope.row, 1)">Approve</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleApproval(scope.row, 0)">Deny</el-button>
                </template>
                </el-table-column>
            </el-table>
            </div>
        </el-drawer>
        
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                search: '',
                joinDrawer: false,
                participants: [],
                selectUser: null,
                event: [],
                innerDrawer: false
            }
        },
        computed: mapGetters(["allEvents"]),
        created() {
            this.fetchEvents(this.config);
        },
        mounted(){
            this.listen()
        },
        methods: {
            ...mapMutations(['updEvent']),
            ...mapActions(['fetchEvents', 'fetchPendingEvents', 'fetchEventParticipants', 'updateParticipants']),
            listen(){
                Echo.channel('update-event')
                    .listen('UpdateEventsEvent', e => {
                        console.log(e)
                        this.fetchPendingEvents(this.config);
                        this.updEvent(e.data);
                        this.$notify.success({
                            title: 'Success',
                            message: e.message,
                            offset: 100
                        })
                    });
            },
            showEvent(row){
                window.location = '/admin/events/'+row.id
            },
            handleAnswers(row){
                this.innerDrawer = true
                // console.log(row)
                this.selectUser = row.user_id
            },
            checkParticipants(row){
                var count = 0
                row.forEach(function(value, key) {
                    if(value.participate_request == 2){
                        count += 1
                    }
                });
                return count
            },
            getAnswer(answers){
                const index = answers.find(ans => ans.user_id === this.selectUser);
                return index.answers;
            },
            handleRequest(row) {
                this.event = row
                this.fetchEventParticipants({id:row.id, config:this.config})
                .then(res=>{
                    this.participants = res
                    this.joinDrawer = true
                })
                .catch(err=>{
                    console.log(err)
                })
            },         
            handleApproval(row, status, done){
                
                this.$confirm('Would you like to proceed to your action?')
                .then(_ => {
                    this.updateParticipants({id: row.id, values: {'action': status}, config: this.config})
                    .then(res => {
                        console.log(res)
                        this.joinDrawer = false
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        })
                        setTimeout(function(){
                            location.reload();
                        }, 2000);
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        },
    }
</script>

<style lang="scss">
div.cell{
    padding-top: 3%;
    padding-bottom: 3%;
}
</style>