<template>
    <div class="float-right">
        <a class="btn btn-primary" href="/admin/event-participants" target="_blank">
        User Views
        </a>

        <button class="btn btn-primary" @click="showEvent()">
        Participants
        </button>
        
        <el-drawer
            size="50%"
            :title="eventData.title +'Participants'"
            :visible.sync="drawer"
            :direction="direction"
            :before-close="handleClose">
            <div class="px-3">
                <div class="py-3 float-right">
                    <el-button type="primary" @click="openScanner()">Scan QR</el-button>
                    
                    <el-dialog
                        title="Scanner"
                        width="30%"
                        :append-to-body="true"
                        :before-close="handleClose"
                        :visible.sync="innerDrawer">
                        <div>
                            <vue-qr-reader
                                v-on:code-scanned="codeScanned"
                                v-on:error-captured="errorCaptured"
                                use-back-camera="true"
                                draw-on-found="true"
                                line-color="#00FF00"
                                line-width="20"
                                video-height="200"
                                video-width="200"
                                responsive="true">
                            </vue-qr-reader>
                        </div>
                    </el-dialog>
                </div>
                <el-table
                    :data="participants"
                    height="500"
                    border
                    style="width: 100%">
                    <el-table-column
                        label="Participant">
                        <template slot-scope="scope">
                            {{scope.row.user.lastname}}, {{scope.row.user.firstname}}
                        </template>
                    </el-table-column>
                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input
                            v-model="search"
                            size="mini"
                            placeholder="Type to search"/>
                        </template>
                        <template slot-scope="scope">
                            <div v-if="scope.row.attendance == 1">
                                <span class="badge badge-success" style="font-size: 15px;">Present</span>
                            </div>
                            <div v-else>
                                <span class="badge badge-secondary" style="font-size: 15px;">Absent</span>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import 'vue-qr-reader';
import { mapGetters, mapActions, mapMutations } from 'vuex';
export default {
    props: ['userAuth', 'eventData'],
    data(){
        return {            
            config: {
                headers: {
                    contentType: "application/json",
                    'Authorization': 'Bearer ' + this.userAuth.api_token
                }
            },
            stop_scan: false,
            scanned: null,
            drawer: false,
            innerDrawer: false,
            direction: 'rtl',
            search: '',
            participants: []
        }
    },
    computed: mapGetters(["allPendingEvents", 'eventById']),
    methods: {
        ...mapMutations(['setApprovedParticipants']),
        ...mapActions(['fetchApprovedParticipants', 'checkQR']),
        showEvent(id){
            this.fetchApprovedParticipants({id:this.eventData.id, config:this.config})
            .then(res=>{
                this.participants = res
                console.log(res)
                this.drawer = true
            })
            .catch(err=>{
                console.log(err)
            })
        },
        openScanner(){
            this.innerDrawer = true
        },
        errorCaptured(error) {
            switch (error.name) {
                case 'NotAllowedError':
                    this.errorMessage = 'Camera permission denied.'
                break;
                case 'NotFoundError':
                    this.errorMessage = 'There is no connected camera.'
                break;
                case 'NotSupportedError':
                    this.errorMessage = 'Seems like this page is served in non-secure context.'
                break;
                case 'NotReadableError':
                    this.errorMessage = 'Couldn\'t access your camera. Is it already in use?'
                break;
                case 'OverconstrainedError':
                    this.errorMessage = 'Constraints don\'t match any installed camera.'
                break;
                default:
                    this.errorMessage = 'UNKNOWN ERROR: ' + error.message
            }
            console.error(this.errorMessage);
        },
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete(index, row) {
            console.log(index, row);
        },
        codeScanned (event) {
            if(this.scanned != event.detail[0]){
                let form = new FormData();
                form.append('qrcode', event.detail[0]);
                form.append('event_id', this.eventData.id);
                this.checkQR({values: form, config:this.config})
                .then(res=>{
                    console.log(res)
                    if(res.data.status == 200){
                        this.participants = res.data.data
                        this.$notify.success({
                            title: 'Success',
                            message: res.data.message ,
                            offset: 100
                        })
                    }else{
                        this.$notify.error({
                            title: 'Error',
                            message: res.data.message ,
                            offset: 100
                        })
                    }
                })
                .catch(err=>{
                    this.$notify.error({
                        title: 'Error',
                        message: 'Invalid QR Code',
                        offset: 100
                    })
                    console.log(err)
                })
            }
            this.scanned = event.detail[0];
        },
        handleClose(done) {
            this.$confirm('Are you sure you want to close this?')
            .then(_ => {
                done();
                this.stop_scan = true
            })
            .catch(_ => {});
        }
    }
}
</script>

<style lang="scss">
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>