<template>
    <div class="row">
        <div class="col-md-6">
            <div :class="cardClass" v-if="currentData != null">
                <div class="card-body">
                    <h5 class="card-title">Welcome, {{currentData.user.firstname}} {{currentData.user.lastname}}!!</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <el-table
                :data="tableData"
                height="250"
                style="width: 100%">
                <el-table-column
                label="Name">
                    <template slot-scope="scope">
                        <div v-if="scope.row != null">
                            {{scope.row.firstname}} {{scope.row.lastname}}
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                    label="Attendance">                    
                    <span class="badge badge-success" style="font-size: 15px;">Present</span>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentData: null,
            tableData: [],
            cardClass: 'card d-none'
        }
    },
    mounted(){
        this.listen()
    },
    methods: {
        listen(){
            Echo.channel('participant-event')
                .listen('ParticipantsEvent', e => {
                    this.cardClass = 'card'
                    setTimeout(function(){
                        this.cardClass = 'card d-none'
                    }, 3000);
                    console.log(e.data.user)
                    this.tableData.push(e.data.user);
                    this.currentData = e.data
            });
        }
    }
}
</script>