<template>
    <div class="px-2">
        <el-badge :value="allPendingEvents.length" class="item">
            <el-button @click="drawer = true" type="primary">Pending Events</el-button>
        </el-badge>

        <el-drawer
            title="List of Pending Events"
            :visible.sync="drawer"
            direction="rtl"
            size="50%"
            :before-close="handleClose">
            <el-table
                :data="allPendingEvents"
                height="500"
                border
                style="width: 100%">
                <el-table-column
                prop="title"
                label="Event Name">
                </el-table-column>
                <el-table-column
                label="Request By">
                    <template slot-scope="scope">
                        {{scope.row.created_by.lastname}}, {{scope.row.created_by.firstname}}
                    </template>
                </el-table-column>
                <el-table-column
                fixed="right"
                label="Operations">
                <template slot-scope="scope">
                    <el-button size="small" @click="showEvent(scope.row.id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable"><i class="el-icon-s-check"></i></el-button>
                    <el-button type="success" size="small" @click="handleApproval(scope.row, 1)"><i class="el-icon-check"></i></el-button>
                    <el-button type="danger" size="small" @click="handleApproval(scope.row, 0)"><i class="el-icon-close"></i></el-button>
                </template>
                </el-table-column>
            </el-table>
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">{{this.event.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <el-card :body-style="{ padding: '0px' }">
                        <img :src="'../../img/events/'+this.event.image" class="image" style="height: 25rem">
                        <div style="padding: 14px;">
                            <div>
                                <h3 class="my-3">Event Date: {{this.event.date}}</h3>
                                <h3 class="my-3">Event Venue: {{this.event.venue}}</h3>
                                <span class="h4">Event Description: </span>
                                <div v-html="this.event.description">{{this.event.description}}</div>
                                <div>
                                    <el-table
                                        :data="this.event.questionaire"
                                        height="500"
                                        border
                                        style="width: 100%">
                                        <el-table-column
                                            label="#"
                                            width="100">
                                            <template slot-scope="scope">
                                                {{scope.$index + 1}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            label="Questions">
                                            <template slot-scope="scope">
                                                {{scope.row.question}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                            label="Operations"
                                            width="120">
                                            <template slot-scope="scope">
                                                <el-button
                                                @click="deleteRow(scope.$index, scope.row)"
                                                type="danger"
                                                size="small">
                                                Remove
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>
                            <div class="bottom clearfix">
                            <time class="time">Submitted At: {{this.event.created_at}}</time>
                            </div>
                        </div>
                        </el-card>
                    </div>
                    </div>
                </div>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
    export default {
        props: ['userAuth'],
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                innerDrawer: false,
                drawer: false,
                event: [],
                disabled: true,
                count: 0,
                idholder: 0,
            }
        },
        computed: mapGetters(["allPendingEvents", 'eventById']),
        created() {
            this.fetchPendingEvents(this.config);
        },
        methods: {
            ...mapActions(['fetchPendingEvents', 'updateEvent', 'removeQuestion']),
            deleteRow(index, row) {
                this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning',
                    center: true
                }).then(() => {                    
                    this.removeQuestion({id: row.id, config: this.config})
                    .then(res => {
                        console.log(res)
                        this.showEvent(res.id);
                        // const index = this.event.questionaire.findIndex(question => question.id === res.id);
                        // if (index !== -1) {
                        //     this.event.questionaire.splice(index, 1);
                        // }
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    this.$message({
                        type: 'success',
                        message: 'Delete completed'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });
            },
            showEvent(id){
                this.idholder = id
                // this.innerDrawer = true
                this.event = this.eventById(id)
                // if(this.event.questionaire.length > 1){
                //     this.disabled = false
                // }
            },
            handleApproval(row, status, done){                
                this.$confirm('Would you like to proceed to your action?')
                .then(_ => {                    
                    this.updateEvent({id: row.id, values: {'action': status}, config: this.config})
                    .then(res => {
                        console.log(res)
                        this.drawer = false
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        })
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss">
.el-drawer__header{
    font-size: 30px
}
.time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
</style>