<template>
    <div class="px-2">
        <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
            Reports
        </el-button>

        <el-drawer
            title="Event Reports"
            :visible.sync="drawer"
            direction="ltr"
            :before-close="handleClose">
            <div>
                <el-table
                    height="500"
                    :data="allEvents.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
                    style="width: 100%">
                    <el-table-column
                    label="Event Name"
                    prop="title">
                    </el-table-column>
                    <el-table-column
                    label="Venue"
                    prop="venue">
                    </el-table-column>
                    <el-table-column
                    label="Event Date"
                    prop="date">
                    </el-table-column>
                    <el-table-column
                    :cell-style="{padding: '10px', height: '20px'}"
                    align="center">
                    <template slot="header" slot-scope="scope">
                        <el-input
                        v-model="search"
                        size="mini"
                        placeholder="Type to search"/>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            @click="printReport(scope.row)">Print Reports</el-button>
                    </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                drawer: false,
                search: ''
            };
        },
        computed: mapGetters(["allEvents"]),
        created() {
            this.fetchEvents(this.config);
        },
        methods: {
            ...mapActions(['fetchEvents']),
            printReport(row){
                window.open('/admin/reports/'+row.id)
            },
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>